.disable, .enable{
    margin: 1vh auto;
    width : 60%;
    height: 6vh;
    font-size: 20px;
    text-align: center;
    line-height: 6vh;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    transition: 0.7s;
    z-index: 2;
}

.disable{
    background-color: #d9d9d9;
}
.enable{
    background-color: #E41F26;
}

a{
    color: #fff;
    text-decoration: none;
}